<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kidscounting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name="com.example.kidscounting.SplashScreem"
            android:label="@string/title_activity_splash_screem" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.kidscounting.KidsCounting"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.kidscounting.Numeros"
            android:label="@string/title_activity_numeros" >
        </activity>
        <activity
            android:name="com.example.kidscounting.Contagem"
            android:label="@string/title_activity_contagem" >
        </activity>
        <activity
            android:name="com.example.kidscounting.Aritimetica"
            android:label="@string/title_activity_aritimetica" >
        </activity>
        <activity
            android:name="com.example.kidscounting.NumerosCrescente"
            android:label="@string/title_activity_numeros_crescente" 
            android:screenOrientation="portrait"
            >
        </activity>
         <activity
            android:name="com.example.kidscounting.NumeroDecrecente"
            android:label="@string/title_activity_numeros_crescente" >
        </activity>
    </application>

</manifest>
